# Ignore environment files
.env
airflow-docker/.env
.streamlit/
venv/
.env.local

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
#ignore airflow files

airflow.cfg
airflow.db
simple_auth_manager_passwords.json.generated
airflow-docker/222docker-compose.yml
airflow-docker/dags/__pycache__
airflow-docker/logs
airflow-docker/plugins

#Ignore folders
unused/
frontend/
frontend-legacy/
clean-crypto-app/ 

#Ignore files
password.json
yf_hourly_streamlit.py
t.py
folder_structure.md