# Ignore environment files
.env
airflow-docker/.env
.streamlit/




# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store

#ignore airflow files
airflow.cfg
airflow.db
simple_auth_manager_passwords.json.generated
airflow-docker/222docker-compose.yml
airflow-docker/dags/__pycache__
airflow-docker/logs
airflow-docker/plugins



venv/
unused/
frontend/
clean-crypto-app/ 






logs/
unittests/
unused/
venv/
frontend/
__pycache__/





