# Ignore environment files
.env

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store

.streamlit/

airflow.cfg
airflow.db
logs/
unittests/
unused/
venv/
frontend/
__pycache__/

simple_auth_manager_passwords.json.generated
clean-crypto-app/